<div class="insights-legend">
  <span><%= t("decidim.admin.extra_user_fields.insights.legend.fewer") %></span>
  <div class="insights-legend__gradient">
    <div class="insights-legend__gradient-step" style="background-color: hsl(50, 90%, 90%);"></div>
    <div class="insights-legend__gradient-step" style="background-color: hsl(38, 93%, 78%);"></div>
    <div class="insights-legend__gradient-step" style="background-color: hsl(25, 95%, 67%);"></div>
    <div class="insights-legend__gradient-step" style="background-color: hsl(12, 98%, 56%);"></div>
    <div class="insights-legend__gradient-step" style="background-color: hsl(0, 100%, 45%);"></div>
  </div>
  <span><%= t("decidim.admin.extra_user_fields.insights.legend.more") %></span>
  <span class="insights-legend__non-specified">
    <span class="insights-legend__non-specified-swatch"></span>
    <%= t("decidim.admin.extra_user_fields.insights.legend.non_specified") %>
  </span>
</div>
