<div class="insights-legend">
  <span><%= t("decidim.admin.extra_user_fields.insights.legend.fewer") %></span>
  <div class="insights-legend__gradient">
    <div class="insights-legend__gradient-step" style="background-color: hsl(50, 90%, 86%);"></div>
    <div class="insights-legend__gradient-step" style="background-color: hsl(38, 87%, 79%);"></div>
    <div class="insights-legend__gradient-step" style="background-color: hsl(24, 84%, 72%);"></div>
    <div class="insights-legend__gradient-step" style="background-color: hsl(12, 81%, 65%);"></div>
    <div class="insights-legend__gradient-step" style="background-color: hsl(0, 78%, 58%);"></div>
  </div>
  <span><%= t("decidim.admin.extra_user_fields.insights.legend.more") %></span>
  <span class="insights-legend__non-specified">
    <span class="insights-legend__non-specified-swatch"></span>
    <%= t("decidim.admin.extra_user_fields.insights.legend.non_specified") %>
  </span>
</div>
