<div class="card-section">
  <div class="row column">
    <p><%= t(".description") %></p>
    <%= form.check_box :underage, label: t(".label") %>
    <%= form.select :underage_limit, ( Decidim::ExtraUserFields.underage_options).to_a, selected: current_organization.extra_user_fields["underage_limit"] || Decidim::ExtraUserFields.underage_limit, label: t(".limit") %>
  </div>
</div>
