<%# locals: (label:, help_text: nil, field_name:, form:) %>
<tr data-controller="field-state" data-field-state-enabled-state-value="optional" data-field-state-disabled-state-value="disabled" data-field-state-target="row">
  <td>
    <%= label %><% if help_text.present? %><br><span class="help-text"><%= help_text %></span><% end %>
  </td>
  <td class="text-center">
    <%= form.check_box :"#{field_name}_enabled", label: "", data: { action: "field-state#toggleEnabled", "field-state-target": "enabled" } %>
  </td>
  <td class="text-center">
    <%= form.check_box :"#{field_name}_required", label: "", data: { action: "field-state#toggleRequired", "field-state-target": "required" } %>
  </td>
</tr>
