    <% f.object.custom_boolean_fields.each do |field, label| %>
      <div class="fieldset">
        <%= label_tag f.field_id("boolean_fields_#{field}") do %>
          <%= check_box_tag "user[boolean_fields][]",
                            field,
                            f.object.boolean_fields.map(&:to_s).include?(field.to_s),
                        id: f.field_id("boolean_fields_#{field}") %>

          <%= t("decidim.extra_user_fields.boolean_fields.#{field}.label", default: field.to_s.humanize) %>
          <% if (help = t("decidim.extra_user_fields.boolean_fields.#{field}.description", default: "")).present? %>
            <span class="help-text"><%= help %></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
