name: "[CI] ExtraUserFields"
on:
  push:
    branches:
      - develop
      - main
      - release/*
      - "*-stable"
  pull_request:
    branches-ignore:
      - "chore/l10n*"

env:
  CI: "true"
  RUBY_VERSION: 3.3.4
  NODE_VERSION: 22.14.0

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build_app:
    uses: ./.github/workflows/build_app.yml
    secrets: inherit
    name: Build test application

  lint:
    name: Lint code
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/setup-node@master
        with:
          node-version: ${{ env.NODE_VERSION }}
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true
      - run: bundle exec rubocop -P
        name: Lint Ruby files
      - run: bundle exec erblint app/**/*.erb
        name: Lint ERB files

  tests:
    name: Tests
    needs: build_app
    uses: ./.github/workflows/test_app.yml
    with:
      test_command: "bundle exec rspec --pattern './spec/**/*_spec.rb'"
    secrets: inherit
